* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TELA INICIAL */

.gameScreen {
    display: flex;
    margin: 20px auto;
    width: 640px;
    height: 360px;
    background: blue;
}

.button {
    cursor: pointer;
    height: 10%;
    /* background-image: url(); */
}